<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.solarisbank.identhub.bank">

    <application tools:node="merge">
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/identhub_preloaded_fonts" />
    </application>

</manifest>