<?xml version="1.0" encoding="utf-8"?>
<manifest package="de.solarisbank.identhub.qes"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application tools:node="merge">
        <provider
            android:name=".domain.IdentHubFileProvider"
            android:authorities="${applicationId}.de.solarisbank.identhub.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/identhub_file_paths" />
        </provider>

    </application>

</manifest>