<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.solarisbank.identhub">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application tools:node="merge"

        >
<!--        android:networkSecurityConfig="@xml/network_security_config"-->
        <activity
            android:name="de.solarisbank.identhub.verfication.bank.VerificationBankActivity"
            android:theme="@style/IdentHubTheme"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name="de.solarisbank.identhub.contract.ContractActivity"
            android:theme="@style/IdentHubTheme"
            android:exported="false"
            android:screenOrientation="portrait" />

        <provider
            android:name=".feature.provider.IdentHubFileProvider"
            android:authorities="${applicationId}.de.solarisbank.identhub.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/identhub_file_paths" />
        </provider>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/identhub_preloaded_fonts" />
    </application>

</manifest>