<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.solarisbank.identhub">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application tools:node="merge">
        <activity
            android:name="de.solarisbank.identhub.verfication.bank.VerificationBankActivity"
            android:theme="@style/IdentHubTheme" />
        <activity
            android:name="de.solarisbank.identhub.contract.ContractActivity"
            android:theme="@style/IdentHubTheme" />
        <activity
            android:name="de.solarisbank.identhub.identity.IdentityActivity"
            android:theme="@style/IdentHubTheme" />
        <activity
            android:name="de.solarisbank.identhub.intro.IntroActivity"
            android:theme="@style/IdentHubTheme" />
        <activity
            android:name="de.solarisbank.identhub.identity.summary.IdentitySummaryActivity"
            android:theme="@style/IdentHubTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="de.solarisbank.identhub.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>