<?xml version="1.0" encoding="utf-8"?>
<manifest package="de.solarisbank.sdk.fourthline"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <application tools:node="merge">
        <activity
            android:name="de.solarisbank.sdk.fourthline.feature.ui.FourthlineActivity"
            android:theme="@style/IdentHubTheme"
            android:screenOrientation="portrait"
            android:exported="false"
            >
        </activity>
        <service android:name="de.solarisbank.sdk.fourthline.feature.service.kyc.upload.KycUploadService"
            android:exported="false"
            android:foregroundServiceType="location">
        </service>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>